In [19]:
##load data
import pandas as pd
mental_data = pd.read_csv('Student Mental health.csv')

In [20]:
mental_data.head(-5)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
91,13/07/2020 14:38:12,Male,18.0,Koe,Year 2,3.00 - 3.49,No,No,Yes,No,No
92,13/07/2020 14:48:05,Female,19.0,KOE,year 2,3.00 - 3.49,Yes,Yes,No,No,No
93,13/07/2020 16:15:13,Female,18.0,BENL,year 1,3.00 - 3.49,No,Yes,No,No,No
94,13/07/2020 17:30:44,Female,24.0,Fiqh,Year 3,0 - 1.99,No,No,No,Yes,No
95,13/07/2020 19:08:32,Female,18.0,Islamic Education,year 1,3.50 - 4.00,No,No,No,No,No

In [21]:
mental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB

In [22]:
mental_data['Your current year of Study'].unique()

array(['year 1', 'year 2', 'Year 1', 'year 3', 'year 4', 'Year 2',
       'Year 3'], dtype=object)

In [23]:
mental_data['What is your course?'].unique()

array(['Engineering', 'Islamic education', 'BIT', 'Laws', 'Mathemathics',
       'Pendidikan islam', 'BCS', 'Human Resources', 'Irkhs',
       'Psychology', 'KENMS', 'Accounting ', 'ENM', 'Marine science',
       'KOE', 'Banking Studies', 'Business Administration', 'Law',
       'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'ALA',
       'Biomedical science', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT', 'CTS',
       'engin', 'Econs', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Pendidikan Islam ', 'Radiography', 'psychology', 'Fiqh fatwa ',
       'DIPLOMA TESL', 'Koe', 'Fiqh', 'Islamic Education', 'Nursing ',
       'Pendidikan Islam'], dtype=object)

In [24]:
mental_data['Age'].unique()

array([18., 21., 19., 22., 23., 20., 24., nan])

In [25]:
mental_data['What is your CGPA?'].unique()

array(['3.00 - 3.49', '3.50 - 4.00', '3.50 - 4.00 ', '2.50 - 2.99',
       '2.00 - 2.49', '0 - 1.99'], dtype=object)

In [26]:
mental_data.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [27]:
mental_data.rename(columns = {'Choose your gender': 'gender', 'What is your course?':'Course', 'Your current year of Study':'year_of_study' } , inplace = True )

In [28]:
mental_data.rename(columns= {'What is your CGPA?':'CGPA' ,'Marital status':'Matrial_status' , 'Do you have Depression?':'Depression', 'Do you have Panic attack?' :'panic_attack'}, inplace= True)

In [29]:
mental_data.rename(columns = {'Do you have Anxiety?' :'Anxiety', 'Did you seek any specialist for a treatment?': 'seek_speciallist_treatment'} , inplace = True)
mental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   101 non-null    object
 1   gender                      101 non-null    object
 2   Age                         100 non-null    float64
 3   Course                      101 non-null    object
 4   year_of_study               101 non-null    object
 5   CGPA                        101 non-null    object
 6   Matrial_status              101 non-null    object
 7   Depression                  101 non-null    object
 8   Anxiety                     101 non-null    object
 9   panic_attack                101 non-null    object
 10  seek_speciallist_treatment  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB

In [30]:
mental_data.dropna(axis=0 , how = 'any' , inplace = True)

In [31]:
mental_data['year_of_study'].replace({'Year 2': '2' , 'year 2':'2' , 'Year 3':'3' , 'year 3':'3' , 'Year 1':'1','year 4':'4','year 1': '1'} , inplace = True)

In [32]:
mental_data['Course'].replace({'koe':'Koe', 'KOE':'Koe','BENL':'benl'}, inplace = True)

In [33]:
mental_data['Timestamp'] = pd.to_datetime(mental_data['Timestamp'])

In [34]:
mental_data['CGPA'] = [x.strip() for x in mental_data['CGPA']]

In [35]:
mental_data['CGPA'].unique()

array(['3.00 - 3.49', '3.50 - 4.00', '2.50 - 2.99', '2.00 - 2.49',
       '0 - 1.99'], dtype=object)